@font-face {
    font-family: 'Nougat';
    src: url('fonts/Nougat.ttf') format('truetype');
}
body, html {
    margin: 0;
    padding: 0;
    font-size: 32px;
}
body {
    font-family: 'Nougat', sans-serif;
    background-image: url(imagem/baaul.png);
    background-size: cover;    
    background-position: center;  
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    margin: 0;
}



.header {
    height: 7.5rem;
    display: flex;
}
.header a {
    text-decoration: none;
}
.titulo {
    width: 33.33%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    line-height: 2rem;
}
.cotil{
	color: white;
	font-size: 3rem;
	text-shadow: 0.2rem 0.2rem 0px black;
	text-align: center;
}
.stars{
	color: red;
	font-size: 4rem;
	text-shadow: 0.2rem 0.2rem 0px black;
	text-align: center;
}




.main h1 {
    text-align: center;
    color: #ffcc00;
    text-shadow: 0.2rem 0.2rem 0px black;
    font-size: 5rem;
}
.forms {
    margin: 4rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid white;
}
label {
    font-size: 2.5rem;
    color: #ffcc00;
    text-shadow: 0.2rem 0.2rem 0px black;
}
input, select {
    width: 20rem;
    height: 2rem;
    text-shadow: 0.1rem 0.1rem 0px white;
    font-family: 'Nougat', sans-serif;
    font-size: 2rem;
}
select {
    text-align: center;
}
input:focus, select:focus {
    background-color: #ffcc00;
}

button{
	font-family: 'Nougat', sans-serif;
	width: 10rem;
    height: 3rem;
    font-size: 2rem;
    background-color: yellow;
    margin-top: 1rem;
    transition: transform 0.3s ease;
    
}
button:hover {
    transform: scale(1.2);  
}


